* {
	align-self: center;
}
*[fore-light] {
	color: e0ffff;
}
*[fore-dark] {
	color: #2f4f4f;
}
*[back-light] {
	background-color: #f0e3cc;
}
*[back-dark] {
	background-color: #666;
}
*[shadow-light] {
	border-width: 0px;
	border-radius: 5%;
	box-shadow: 0 0 10pt 10pt #eee8aa;
}
*[shadow-dark] {
	border-width: 0px;
	border-radius: 5%;
	box-shadow: 0 0 10pt 10pt #b22222;
}
*[hide] {
	display: none !important;
}
html {
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
}
head {
	display: none;
}
body {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	height: 100vh;
	margin-left: calc(-50% + 50%);
	margin-top: calc(-50% + 50%);
	padding: 0;
	background-color: white;
	color: black;
	font-size: calc(1vmin + 1vmin);
	font-weight: 500;
}
body[a] {
	height: 150vh !important;
}
body[b] {
	height: 200vh !important;
}
body[c] {
	height: 250vh !important;
}
body[d] {
	height: 300vh !important;
}
body[e] {
	height: 350vh !important;
}
body[f] {
	height: 400vh !important;
}
body[g] {
	height: 450vh !important;
}
body[h] {
	height: 500vh !important;
}
body[i] {
	height: 550vh !important;
}
body[j] {
	height: 600vh !important;
}
body[k] {
	height: 650vh !important;
}
body[l] {
	height: 700vh !important;
}
body[m] {
	height: 750vh !important;
}
body[n] {
	height: 800vh !important;
}
body[o] {
	height: 850vh !important;
}
body[p] {
	height: 900vh !important;
}
body[q] {
	height: 950vh !important;
}
body[r] {
	height: 1000vh !important;
}
horizontal-1 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 1%;
	height: 100%;
}
horizontal-2 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 2%;
	height: 100%;
}
horizontal-3 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 3%;
	height: 100%;
}
horizontal-4 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 4%;
	height: 100%;
}
horizontal-5 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 5%;
	height: 100%;
}
horizontal-6 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 6%;
	height: 100%;
}
horizontal-7 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 7%;
	height: 100%;
}
horizontal-8 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 8%;
	height: 100%;
}
horizontal-9 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 9%;
	height: 100%;
}
horizontal-10 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 10%;
	height: 100%;
}
horizontal-11 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 11%;
	height: 100%;
}
horizontal-12 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 12%;
	height: 100%;
}
horizontal-13 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 13%;
	height: 100%;
}
horizontal-14 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 14%;
	height: 100%;
}
horizontal-15 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 15%;
	height: 100%;
}
horizontal-16 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 16%;
	height: 100%;
}
horizontal-17 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 17%;
	height: 100%;
}
horizontal-18 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 18%;
	height: 100%;
}
horizontal-19 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 19%;
	height: 100%;
}
horizontal-20 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 20%;
	height: 100%;
}
horizontal-21 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 21%;
	height: 100%;
}
horizontal-22 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 22%;
	height: 100%;
}
horizontal-23 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 23%;
	height: 100%;
}
horizontal-24 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 24%;
	height: 100%;
}
horizontal-25 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 25%;
	height: 100%;
}
horizontal-26 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 26%;
	height: 100%;
}
horizontal-27 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 27%;
	height: 100%;
}
horizontal-28 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 28%;
	height: 100%;
}
horizontal-29 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 29%;
	height: 100%;
}
horizontal-30 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 30%;
	height: 100%;
}
horizontal-31 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 31%;
	height: 100%;
}
horizontal-32 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 32%;
	height: 100%;
}
horizontal-33 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 33%;
	height: 100%;
}
horizontal-34 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 34%;
	height: 100%;
}
horizontal-35 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 35%;
	height: 100%;
}
horizontal-36 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 36%;
	height: 100%;
}
horizontal-37 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 37%;
	height: 100%;
}
horizontal-38 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 38%;
	height: 100%;
}
horizontal-39 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 39%;
	height: 100%;
}
horizontal-40 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 40%;
	height: 100%;
}
horizontal-41 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 41%;
	height: 100%;
}
horizontal-42 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 42%;
	height: 100%;
}
horizontal-43 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 43%;
	height: 100%;
}
horizontal-44 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 44%;
	height: 100%;
}
horizontal-45 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 45%;
	height: 100%;
}
horizontal-46 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 46%;
	height: 100%;
}
horizontal-47 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 47%;
	height: 100%;
}
horizontal-48 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 48%;
	height: 100%;
}
horizontal-49 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 49%;
	height: 100%;
}
horizontal-50 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 50%;
	height: 100%;
}
horizontal-51 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 51%;
	height: 100%;
}
horizontal-52 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 52%;
	height: 100%;
}
horizontal-53 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 53%;
	height: 100%;
}
horizontal-54 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 54%;
	height: 100%;
}
horizontal-55 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 55%;
	height: 100%;
}
horizontal-56 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 56%;
	height: 100%;
}
horizontal-57 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 57%;
	height: 100%;
}
horizontal-58 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 58%;
	height: 100%;
}
horizontal-59 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 59%;
	height: 100%;
}
horizontal-60 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 60%;
	height: 100%;
}
horizontal-61 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 61%;
	height: 100%;
}
horizontal-62 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 62%;
	height: 100%;
}
horizontal-63 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 63%;
	height: 100%;
}
horizontal-64 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 64%;
	height: 100%;
}
horizontal-65 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 65%;
	height: 100%;
}
horizontal-66 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 66%;
	height: 100%;
}
horizontal-67 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 67%;
	height: 100%;
}
horizontal-68 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 68%;
	height: 100%;
}
horizontal-69 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 69%;
	height: 100%;
}
horizontal-70 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 70%;
	height: 100%;
}
horizontal-71 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 71%;
	height: 100%;
}
horizontal-72 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 72%;
	height: 100%;
}
horizontal-73 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 73%;
	height: 100%;
}
horizontal-74 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 74%;
	height: 100%;
}
horizontal-75 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 75%;
	height: 100%;
}
horizontal-76 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 76%;
	height: 100%;
}
horizontal-77 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 77%;
	height: 100%;
}
horizontal-78 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 78%;
	height: 100%;
}
horizontal-79 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 79%;
	height: 100%;
}
horizontal-80 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 80%;
	height: 100%;
}
horizontal-81 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 81%;
	height: 100%;
}
horizontal-82 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 82%;
	height: 100%;
}
horizontal-83 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 83%;
	height: 100%;
}
horizontal-84 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 84%;
	height: 100%;
}
horizontal-85 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 85%;
	height: 100%;
}
horizontal-86 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 86%;
	height: 100%;
}
horizontal-87 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 87%;
	height: 100%;
}
horizontal-88 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 88%;
	height: 100%;
}
horizontal-89 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 89%;
	height: 100%;
}
horizontal-90 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 90%;
	height: 100%;
}
horizontal-91 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 91%;
	height: 100%;
}
horizontal-92 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 92%;
	height: 100%;
}
horizontal-93 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 93%;
	height: 100%;
}
horizontal-94 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 94%;
	height: 100%;
}
horizontal-95 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 95%;
	height: 100%;
}
horizontal-96 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 96%;
	height: 100%;
}
horizontal-97 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 97%;
	height: 100%;
}
horizontal-98 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 98%;
	height: 100%;
}
horizontal-99 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 99%;
	height: 100%;
}
horizontal-100 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
}
vertical-1 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 1%;
	width: 100%;
}
vertical-2 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 2%;
	width: 100%;
}
vertical-3 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 3%;
	width: 100%;
}
vertical-4 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 4%;
	width: 100%;
}
vertical-5 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 5%;
	width: 100%;
}
vertical-6 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 6%;
	width: 100%;
}
vertical-7 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 7%;
	width: 100%;
}
vertical-8 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 8%;
	width: 100%;
}
vertical-9 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 9%;
	width: 100%;
}
vertical-10 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 10%;
	width: 100%;
}
vertical-11 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 11%;
	width: 100%;
}
vertical-12 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 12%;
	width: 100%;
}
vertical-13 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 13%;
	width: 100%;
}
vertical-14 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 14%;
	width: 100%;
}
vertical-15 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 15%;
	width: 100%;
}
vertical-16 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 16%;
	width: 100%;
}
vertical-17 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 17%;
	width: 100%;
}
vertical-18 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 18%;
	width: 100%;
}
vertical-19 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 19%;
	width: 100%;
}
vertical-20 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 20%;
	width: 100%;
}
vertical-21 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 21%;
	width: 100%;
}
vertical-22 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 22%;
	width: 100%;
}
vertical-23 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 23%;
	width: 100%;
}
vertical-24 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 24%;
	width: 100%;
}
vertical-25 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 25%;
	width: 100%;
}
vertical-26 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 26%;
	width: 100%;
}
vertical-27 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 27%;
	width: 100%;
}
vertical-28 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 28%;
	width: 100%;
}
vertical-29 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 29%;
	width: 100%;
}
vertical-30 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 30%;
	width: 100%;
}
vertical-31 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 31%;
	width: 100%;
}
vertical-32 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 32%;
	width: 100%;
}
vertical-33 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 33%;
	width: 100%;
}
vertical-34 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 34%;
	width: 100%;
}
vertical-35 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 35%;
	width: 100%;
}
vertical-36 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 36%;
	width: 100%;
}
vertical-37 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 37%;
	width: 100%;
}
vertical-38 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 38%;
	width: 100%;
}
vertical-39 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 39%;
	width: 100%;
}
vertical-40 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 40%;
	width: 100%;
}
vertical-41 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 41%;
	width: 100%;
}
vertical-42 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 42%;
	width: 100%;
}
vertical-43 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 43%;
	width: 100%;
}
vertical-44 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 44%;
	width: 100%;
}
vertical-45 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 45%;
	width: 100%;
}
vertical-46 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 46%;
	width: 100%;
}
vertical-47 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 47%;
	width: 100%;
}
vertical-48 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 48%;
	width: 100%;
}
vertical-49 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 49%;
	width: 100%;
}
vertical-50 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 50%;
	width: 100%;
}
vertical-51 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 51%;
	width: 100%;
}
vertical-52 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 52%;
	width: 100%;
}
vertical-53 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 53%;
	width: 100%;
}
vertical-54 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 54%;
	width: 100%;
}
vertical-55 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 55%;
	width: 100%;
}
vertical-56 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 56%;
	width: 100%;
}
vertical-57 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 57%;
	width: 100%;
}
vertical-58 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 58%;
	width: 100%;
}
vertical-59 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 59%;
	width: 100%;
}
vertical-60 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 60%;
	width: 100%;
}
vertical-61 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 61%;
	width: 100%;
}
vertical-62 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 62%;
	width: 100%;
}
vertical-63 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 63%;
	width: 100%;
}
vertical-64 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 64%;
	width: 100%;
}
vertical-65 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 65%;
	width: 100%;
}
vertical-66 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 66%;
	width: 100%;
}
vertical-67 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 67%;
	width: 100%;
}
vertical-68 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 68%;
	width: 100%;
}
vertical-69 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 69%;
	width: 100%;
}
vertical-70 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 70%;
	width: 100%;
}
vertical-71 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 71%;
	width: 100%;
}
vertical-72 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 72%;
	width: 100%;
}
vertical-73 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 73%;
	width: 100%;
}
vertical-74 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 74%;
	width: 100%;
}
vertical-75 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 75%;
	width: 100%;
}
vertical-76 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 76%;
	width: 100%;
}
vertical-77 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 77%;
	width: 100%;
}
vertical-78 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 78%;
	width: 100%;
}
vertical-79 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 79%;
	width: 100%;
}
vertical-80 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 80%;
	width: 100%;
}
vertical-81 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 81%;
	width: 100%;
}
vertical-82 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 82%;
	width: 100%;
}
vertical-83 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 83%;
	width: 100%;
}
vertical-84 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 84%;
	width: 100%;
}
vertical-85 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 85%;
	width: 100%;
}
vertical-86 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 86%;
	width: 100%;
}
vertical-87 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 87%;
	width: 100%;
}
vertical-88 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 88%;
	width: 100%;
}
vertical-89 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 89%;
	width: 100%;
}
vertical-90 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 90%;
	width: 100%;
}
vertical-91 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 91%;
	width: 100%;
}
vertical-92 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 92%;
	width: 100%;
}
vertical-93 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 93%;
	width: 100%;
}
vertical-94 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 94%;
	width: 100%;
}
vertical-95 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 95%;
	width: 100%;
}
vertical-96 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 96%;
	width: 100%;
}
vertical-97 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 97%;
	width: 100%;
}
vertical-98 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 98%;
	width: 100%;
}
vertical-99 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 99%;
	width: 100%;
}
vertical-100 {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 100%;
	width: 100%;
}
edge {
	display: flex;
	width: 100%;
	flex-wrap: nowrap;
	height: 15%;
	word-break: break-word;
	align-items: center;
}
main {
	display: flex;
	width: 100%;
	flex-wrap: nowrap;
	height: 70%;
	word-break: break-word;
	align-items: center;
}
sep {
	overflow: hidden;
	display: block;
	width: 100%;
	height: 100%;
}
div {
	display: flex;
	width: 100%;
	flex-wrap: nowrap;
	height: 100%;
	word-break: break-word;
	align-items: center;
}
rtl {
	display: inline-block;
	text-align: right;
	direction: rtl;
	width: 100%;
	height: auto;
}
rtl[ctr] {
	text-align: center !important;
}
ltr {
	display: inline-block;
	text-align: left;
	direction: ltr;
	width: 100%;
	height: auto;
}
ltr[ctr] {
	text-align: center !important;
}
span {
	display: inline;
	height: auto;
}
span[mrk] {
	background-color: #fcf8e3;
	color: black;
}
span[big] {
	font-size: 150%;
}
span[hge] {
	font-size: 350%;
}
span[sml] {
	font-size: 50%;
}
span[bol] {
	font-weight: 1000;
}
span[lit] {
	font-weight: 100;
}
span[sub] {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	bottom: -0.25em;
}
span[sup] {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	top: -0.5em;
}
span[upr] {
	text-transform: uppercase;
}
span[lwr] {
	text-transform: lowercase;
}
span[top] {
	background: #fff;
	border-bottom: 1px solid #eee;
}
span[und] {
	text-decoration: underline;
}
a {
	display: content;
	background-color: transparent;
	transition: all 0.5s ease;
	color: purple;
	text-decoration: underline dotted green;
}
a[btn] {
	display: block;
	background-color: aqua;
	color: #666
	border-width: 0px;
	border-radius: 100%;
	box-shadow: 0 0 10pt 10pt aqua;
	text-decoration: none;
}
a:hover[btn] {
	text-decoration: none;
}
a:hover {
	color: red;
	text-decoration: underline solid red;
}
a:active {
	color: red;
	text-decoration: none;
}
a:link:not(:disabled) {
	cursor: pointer;
}
img {
	width: 100%;
	height: 100%;
}
img[pad] {
	padding: 2%;
}
img[rds] {
	border-radius: 1.25em !important;
}
input {
	display: inline-block;
}
input:valid {
	color: green;
}
input:invalid {
	color: red;
}
input[type="checkbox"] {
	padding: 0;
}
input[type="reset"] {
}
input[type="reset"]:not(:disabled) {
	cursor: pointer;
}
input[type="submit"] {
	font-size: 150%;
	display: block;
	margin: auto;
}
input[type="submit"]:not(:disabled) {
	cursor: pointer;
}
input[type="color"] {
}
input[type="date"] {
}
input[type="datetime-local"] {
}
input[type="email"] {
}
input[type="file"] {
}
input[type="image"] {
}
input[type="month"] {
}
input[type="number"] {
}
input[type="password"] {
}
input[type="radio"] {
	padding: 0;
}
input[type="range"] {
}
input[type="search"] {
	outline-offset: -2px;
}
input[type="tel"] {
}
input[type="text"] {
}
input[type="time"] {
}
input[type="url"] {
}
input[type="week"] {
}
svg {
	overflow: hidden;
	vertical-align: middle;
}
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}
textarea {
	font-size: 0.5em;
	background-color: gray;
	foreground-color: blue;
}
select {
	line-height: 1.5;
	word-wrap: normal;
	text-transform: none;
}
optgroup {
}
option {
}
progress {
	display: flex;
	height: 100%;
	width: 100%;
	flex-wrap: nowrap;
	background-color: aqua;
}
bar {
	width: 1%;
	height: 10pt;
	background-color: purple;
}
abbr {
	cursor: help;
	border-bottom: 0;
	text-decoration: underline dotted;
	text-decoration-skip-ink: none;
}
